*{
    margin: 0;
    padding: 0;
}

.item-deal:hover{
    border:1px solid yellow;

}

.item-deal{
    height: 230px;
}

.item-deal .anchor a{
    text-decoration: none;
    text-align: center;
    line-height: 1.3;
    white-space:pre-wrap;
    text-align: center;
}

.item-deal .anchor p{
    text-align: center;
}

.contact a{
    text-decoration: none;
    color:whitesmoke;
}

.contact a:hover{
    color: orange;
}